
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indecent Card Game</title>
	<link href="/static/css/mui.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/mui.js"></script>
	<script src="/static/js/jquery.js"></script>
   </head>
  
  <body>
  <script type="text/javascript">
	  function derp(){
			//alert('testing testing im just suggesting...')
			return 0
		}
		function poll() { //why does having this block present result in the data being posted to /{{gameID}}?
						  //fix this mess of syntax errors tommorow ._.
						  
			setTimeout( function() {
				$.ajax({
					type: 'POST',
					url: '/{{gameID}}/ajax',
					data: 'heartbeat',
					success: function(response) {
						
						if(response=="waiting"){
							poll(); //hmnn apparently this doesnt recognize that poll is in a different block - why?
							
						}
						if(response=="done"){
							$(location).attr('href','/{{gameID}}/game/');
						}
					},
				})
				
			}, 1000);
		}
  </script>
    <h1>Your Room Code: {{gameID}}</h1>
    <h2>Room for {{numPlayers}} players</h1>
    <table style="width:70%; margin-left:15%; margin-right:15%;padding-bottom:5%;padding-top:5%;" name="playerTable">
        <tr> <!-- We only need to generate this once since players are only logging on for themselves-->
			<td class="mui-panel">
				<div class="mui-container">
				<form id=playerNameForm action="/{{gameID}}/ajax" method="post">
				<!-- javascript for AJAX handling -->
				<script type="text/javascript">
					$(document).ready(function() {
						/** **/

						$('#playerNameForm').submit(function(e) {
					
								$.ajax({
									type: 'POST',
									url: '/{{gameID}}/ajax',
									data: $(this).serialize(),
									success: function(response) {
										/**$('#').html(response); 
										This will handle some stuff for the greying out of other boxes, and counting down numbers. 
										if the response from the AJAX is "waiting", then do not reload the page. If it is done"
										then the page will load and enter the game cycle.
										**/
										
										if(response=="waiting"){
											$('table[name=playerTable]').hide();
											$('div[name=statusObj]').append("<h1>You are: " + $('#playerNameForm > div > input').val());
											derp();
											poll(); //hmnn apparently this doesnt recognize that poll is in a different block - why?
											
										}
										if(response=="done"){
											$(location).attr('href','/{{gameID}}/game/');
										}
									}
								});
							e.preventDefault();
						});
					});
				</script>
				
				  <div class="mui-textfield">
					<input type="text" name="playerNameForm" maxlength=10>
					<label>Give yourself a name...</label>
				  </div>
					<button name="join_make" onclick="" value="joinGame" class="mui-btn mui-btn--raised mui-btn--primary">Join</button>
				</form>
				</div>
            </td>
			
			
		</tr>

    </table>
	
	<div class="mui-panel" name="statusObj" style="width:85%; margin:auto;">
		
	</div>
	
	<div class="mui-appbar">
		<table width="60%">
			<tr style="vertical-align:middle;">
			  <td class="mui--appbar-height">Hi!</td>
			  <td class="mui--appbar-height">About</td>
			  <td class="mui--appbar-height">Contact</td>
			  <td class="mui--appbar-height">Source</td>
			</tr>
		</table>
		<div class="mui--text-caption">Copyright 2018 Solvay</div>
	</div>
  </body>
</html>
