
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indecent Card Game</title>
	<link href="/static/css/mui.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/mui.js"></script>
    </head>
  
  <body>
    <h1>Welcome</h1>
    
    <table style="width:100%;">
        <tr>
            <td class="mui-panel">
                <h2>Join Game</h2>
				<form action="" method="post">
				  <div class="mui-textfield">
					<input type="text" name="landingText" maxlength=4">
					<label>Game ID (4 characters)</label>
				  </div>
					<button name="join_make" value="joinGame" class="mui-btn mui-btn--raised mui-btn--primary">Join</button>
				</form>
            </td>
            <td class="mui-panel">
                <h2>New Game</h2>
				<form action="" method="post">
				<div class="mui-textfield">
					
					<input type="text" name="landingText">
					<label>Number of Players (integer)</label>
					<button name="join_make" value="makeGame" class="mui-btn mui-btn--raised mui-btn--primary">Create</button>
				</div>
				</form>

            </td>
        </tr>
    </table>
	<div class="mui-appbar">
		<table width="60%">
			<tr style="vertical-align:middle;">
			  <td class="mui--appbar-height">Last Generated: {{timefetched}}</td>
			  <td class="mui--appbar-height">About</td>
			  <td class="mui--appbar-height">Contact</td>
			  <td class="mui--appbar-height">Source</td>
			</tr>
		</table>
		<div class="mui--text-caption">Copyright 2018 Solvay</div>
	</div>
  </body>
</html>
