
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indecent Card Game</title>
	<link href="/static/css/mui.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/mui.js"></script>
	<script src="/static/js/jquery.js"></script>
   </head>
  
  <body>
    <h1>Your Room Code: {{gameID}}</h1>
    <h2>Round: {{roundID}}</h1>
    <table style="width:70%; margin-left:15%; margin-right:15%;padding-bottom:5%;padding-top:5%;" name="playerTable">
        <tr> 
			<td class="mui-panel">
				<div class="mui-container">
					<p>{{question}}</p>
					<form id=answers action="" method="post">
						<div class="mui-textfield">
						<label>Your Selected Answer:</label>
						</div>
						<!-- collection of buttons for submission -->
						% for answer in answers:
    						<button name="answer" onclick="" value="{{answer}}" class="mui-btn mui-btn--raised mui-btn--primary">{{answer}}</button>
    						% end
					</form>
				</div>
            </td>
			
			
		</tr>

    </table>
	
	<div class="mui-panel" name="statusObj" style="width:85%; margin:auto;">
		
	</div>
	
  </body>
</html>
