
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indecent Card Game</title>
	<link href="/static/css/mui.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/mui.js"></script>
	<script src="/static/js/jquery.js"></script>
   </head>
  
  <body>
  <script type="text/javascript">
		function startTimer(duration, display) {
			var timer = duration, minutes, seconds;
			setInterval(function () {
				minutes = parseInt(timer / 60, 10);
				seconds = parseInt(timer % 60, 10);

				minutes = minutes < 10 ? "0" + minutes : minutes;
				seconds = seconds < 10 ? "0" + seconds : seconds;

				display.html(seconds);

				if (--timer < 0) {
					timer = duration;
				}
			}, 1000);
			
		}
		function poll() {		  
			setTimeout( function() {
				$.ajax({
					type: 'POST',
					url: '/{{gameID}}/voting/ajax',
					data: 'heartbeat',
					success: function(response) {
						
						/**if(response=="waiting"){ //no need, since responses are an array of responses username,response|username,response
							poll(); 
							alert("waiting")
							
						}**/
						elements = response.split("|")
						innerHTML = ""
						if(elements[0]=="done"){// elements = "voteSubmitted|username~vote
							//alert(String(elements))
							for(userIndex=1; userIndex<elements.length-1; userIndex++){ //last item after "name,response|".split("|") is NoneType.
								tempItem = elements[userIndex].split("~") //yields username,votes
								//alert(String(tempItem))
								//alert(innerHTML)
								innerHTML = innerHTML+ "<td class = 'mui-panel'> "+tempItem[0]+": "+tempItem[1]+"</td>"
							}
							$("#responses").html(innerHTML);
							$("#waitingStatus").html("All votes recieved! Next round in ")
							display = $('#time');
							startTimer(125, display)
							setTimeout(function(){window.location = "/{{gameID}}/game/";}, 5000);
						}
						else{ //somebody submitted something
        						//alert(response);
        						poll();        						
						}
					},
				})
				
			}, 500);
		}
  </script>
  <script type="text/javascript">
	$(document).ready(function() {
       poll();
	});
  </script>
    <h1>Your Room Code: {{gameID}}</h1>
    <h2>Room for {{numPlayers}} players</h1>

	<div class="mui-panel">
		<div class="mui--text-center">
			<div class="mui--text-display1" id="waitingStatus">Waiting for votes...</div>
			<div class="mui--text-display1" id="time"></div>
			<div class="mui--text-title">You are: {{username}}</div>

		</div>
		
		

		<table style="width:70%; margin-left:15%; margin-right:15%;padding-bottom:5%;padding-top:5%;" name="playerTable">
		
			<tr id="responses">
			</tr>
		
		</table>
		
	</div>	
  </body>
</html>
