
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indecent Card Game</title>
	<link href="/static/css/mui.css" rel="stylesheet" type="text/css" />
	<script src="/static/js/mui.js"></script>
	<script src="/static/js/jquery.js"></script>
   </head>
  
  <body>
  <script type="text/javascript">
		function poll() {		  
			setTimeout( function() {
				$.ajax({
					type: 'POST',
					url: '/{{gameID}}/game/ajax',
					data: 'heartbeat',
					success: function(response) {
						
						/**if(response=="waiting"){ //no need, since responses are an array of responses username,response|username,response
							poll(); 
							alert("waiting")
							
						}**/
						elements = response.split("|")
						if(elements[0]=="done"){ //make the buttons votable,
							//$(location).attr('href','/{{gameID}}/game/');
							alert("everyone's done voting!");

						}
						if(elements[0]=="voteSubmitted"){
							//alert("all are submitted, make buttons clickable!")
							innerHTML = ""
							for(userIndex=1; userIndex<elements.length-1; userIndex++){ //last item after "name,response|".split("|") is NoneType.
								tempItem = elements[userIndex].split("~") //yields username,response
								if(tempItem[0] != "{{username}}"){
									innerHTML = innerHTML+ "<td class = 'mui-panel' id="+tempItem[0]+"><button name='vote' onclick='' value='"+tempItem[1]+"|"+tempItem[0]+"' id='provisionalButton' class='mui-btn mui-btn--raised mui-btn--danger' style='font-size:150%' disabled>"+tempItem[1]+"</button></td>"
								}
							}
							$("#responses").html(innerHTML);
							$("button").each(function(){
								$(this).prop("disabled",false);
							});
						}
						else{ //somebody submitted something
        						//alert(response);
        						innerHTML = ""
        						for(userIndex=0; userIndex<elements.length-1; userIndex++){
									
									tempItem = elements[userIndex].split("~") //yields username,response
									if(tempItem[0] != "{{username}}"){
										innerHTML = innerHTML+ "<td class = 'mui-panel' id="+tempItem[0]+"><button name='vote' onclick='' value='"+tempItem[1]+"|"+tempItem[0]+"' id='provisionalButton' class='mui-btn mui-btn--raised mui-btn--danger' style='font-size:150%' disabled>"+tempItem[1]+"</button></td>"
									}
								}
								$("#responses").html(innerHTML);//inserts "innerHTML" into element "#responses"        						
        						poll();
						}
					},
				})
				
			}, 500);
		}
  </script>
  <script type="text/javascript">
	$(document).ready(function() {
       poll();
	});
  </script>
    <h1>Your Room Code: {{gameID}}</h1>
    <h2>Room for {{numPlayers}} players</h1>

	<div class="mui-panel">
		<div class="mui--text-center">
			<div class="mui--text-display1">{{question}}</div>
			<div class="mui--text-title">You submitted: {{submission}}</div>
		</div>
		
		

		<form id=voteresponse action="/{{gameID}}/game/voting" method="post"> <!-- testing -->
		<table style="width:70%; margin-left:15%; margin-right:15%;padding-bottom:5%;padding-top:5%;" name="playerTable">
		
			<tr id="responses">
			</tr>
		
		</table>
		</form>
		
	</div>
	<div class="mui-panel" name="statusObj" style="width:85%; margin:auto;">
		
	</div>
	
  </body>
</html>
